:root {
    --primary:#2A2A8E;
    --active-bg: #2A2A8E; /* Color de fondo para la opción activa */
    --active-color: #ffffff;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#sidebar-container {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    top: 0;
    left: 0;
    height:auto;
    width: 250px;

}

.bg-primary {
    background-color: var(--primary) !important;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu {
    margin-top: 20px; /* Añadir margen superior para bajar el menú */
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    /*position: relative; /* Añade posición relativa para que los elementos internos se posicionen relativamente */
    /*padding-left: 9px; /* Añade un pequeño relleno a la izquierda para la barra lateral */
}

.menu a {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px; /* Espacio entre los enlaces */
    position: relative; /* Añade posición relativa para el icono */
    width: calc(100% - 10px);
}

.menu a.active {
    font-weight: bold; /* Hace el texto negrita */
    color: #ffffff; /* Asegura que el color del texto activo sea blanco */
}

.menu a.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px; /* Posición izquierda para pegarse al borde izquierdo */

    width: 4px; /* Ancho de la barra lateral */
    height: 100%;
    background-color: #ffffff /* Color de la barra lateral */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a.active {
    font-weight: bold;
}

.logout {
    color: white;
    text-decoration: none;
    font-size: 18px;
    align-self: flex-start;
}

.content {

    /*flex-grow: 1;
    padding: 20px;
    padding-left: 270px;
    padding-bottom: 100px;
    background-color: #f4f4f4;*/
    flex-grow: 1;
    padding: 20px;
    /*padding-left: 270px; /* Asegura espacio para la barra lateral */
    background-color: #f4f4f4;
    overflow-y: auto; /* Permitir scroll interno */
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .user-profile {
    display: flex;
    align-items: center;
}

header .user-profile span {
    margin-right: 10px;
    font-size: 18px;
}

header .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
h2 {
    text-align: left;
}

.prediction-history {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prediction-history h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.table-controls button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2A2A8E;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #2A2A8E;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.form-container {
    display: flex;
    justify-content: space-between;
    /*new*/width: 100%;
    padding-right: 20px;
}


form {
    /*background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;*/
    background: white;
    padding: 20px;
    border-radius: 8px;
    padding-bottom: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 60%;
}

button[type="submit"] {
    align-self: center;
    margin-top: 20px;
    background-color: #2A2A8E;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

form fieldset {
    border: none;
    margin-bottom: 15px;
}

form legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form button {
    background-color: #2A2A8E;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.results {
    width: 40%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.result-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.result-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.result-box p {
    font-size: 16px;
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.header .profile {
    display: flex;
    align-items: center;
}

.header .profile img {
    border-radius: 50%;
    margin-right: 10px;
}

.header .profile .name {
    font-size: 18px;
    font-weight: bold;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;
   */ gap: 20px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.footer {
    /*background-color:#17205A;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

     */
    background-color: #17205A;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*width: calc(100% - 200px); /* Adjust for sidebar */
    left: 250px; /* Align next to sidebar */
}
 .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    align-content: center;
 }
.login-header {
    background-color: #2A2A8E;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login-header img {
    width: 30px;
    vertical-align: middle;
}
.login-header h2 {
    display: inline;
    color: white;
    margin-left: 10px;
    font-size: 18px;
}
.login-form {
    padding: 20px;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-form .icon-input {
    position: relative;
}
.login-form .icon-input img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    padding-left: 40px;
}
.login-form .forgot-password {
    color: #3136AC;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #2A2A8E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;  /* Añadir esta línea */
    display: block;  /* Añadir esta línea */
}

.login-form .signup-option {
    text-align: center;
    margin-top: 10px;
}
.login-form .signup-option a {
    color: #3136AC;
    text-decoration: none;
}